---
import { getCollection } from 'astro:content'
import { Button } from 'fulldev-ui'

const componentEntries = await getCollection('components')
---

{
  componentEntries.map((component) => {
    let propLink: string = ''
    let props: any = component.data.props

    Object.entries(props).map(([key, value]: [string, any]) => {
      propLink += '&' + key + '=' + value.value

      return propLink
    })

    return (
      <>
        <Button href={'/?component=' + component.data.name + propLink}>
          {component.data.name}
        </Button>
        <br />
      </>
    )
  })
}
