---
import { getCollection } from 'astro:content'
import { Button, Group, Heading, Icon, Link, Paragraph } from 'fulldev-ui'

const componentEntries = await getCollection('components')
---

<div class="sidebar">
  <Heading><b>Fulldev UI Stories</b></Heading>
  <Paragraph>Try out some of our Base and Typography components.</Paragraph>

  <Group>
    <Button
      href="https://ui.full.dev/"
      size="md"
      variant="outline"
      target="_blank"
      ><Icon name="external-link" />Fulldev UI</Button
    >
    <Button
      href="https://github.com/fulldotdev/ui"
      size="md"
      variant="outline"
      target="_blank"
      ><Icon name="brand-github" /></Button
    >
  </Group>

  <Heading size="sm"><b>Components</b></Heading>

  {
    componentEntries.map((component) => {
      let propLink: string = ''
      let props: any = component.data.props

      Object.entries(props).map(([key, value]: [string, any]) => {
        propLink += '&' + key + '=' + value.value

        return propLink
      })

      return (
        <Link
          color={
            component.data.name == Astro.url.searchParams.get('component')
              ? 'brand'
              : 'base'
          }
          href={'/?component=' + component.data.name + propLink}
        >
          {component.data.name}
          <Icon
            size="sm"
            name={
              component.data.name == Astro.url.searchParams.get('component')
                ? 'corner-down-left'
                : ''
            }
          />
        </Link>
      )
    })
  }
</div>

<style>
  .sidebar {
    display: flex;
    flex-direction: column;
    padding-right: 40px;

    .link {
      padding: 10px 0 0 0;
    }

    .group {
      padding: 20px 0;
    }
  }
</style>
