---
import { Heading, Icon, Link, Text } from 'fulldev-ui'

interface Props {
  name: string
}

const { name } = Astro.props
---

<div class="details">
  <Heading><b>Props</b></Heading>

  <Text>
    Here are the available Props for the <b>{name}</b> component.
  </Text>

  <Link
    color="brand"
    href="https://ui.full.dev/overview/introduction/"
    target="_blank"
  >
    Read the documentation <Icon name="external-link" />
  </Link>
</div>
