---
import { Button, Badge, Icon, Heading, Image, Paragraph, Label, Link, Input, Textarea } from 'fulldev-ui'

const FulldevUIComponents: any = { 
  Badge,
  Button,
  Heading,
  Icon,
  Image,
  Input,
  Label,
  Link,
  Paragraph,
  Textarea
} as const

interface Props {
  component: string
}

const { component, ...rest } = Astro.props

const Component = FulldevUIComponents[component.charAt(0).toUpperCase() + component.slice(1)]
---

<div class="component">
  {
    Component ? (
      <Component {...rest} />
    ) : null
  }
</div>
