---
interface Props {
  name: string
  props: Object
}

const { name, props } = Astro.props
---

<div class="snippet">
  <div class="code">
    <p>
      {'<' + name + ' '}
      {
        Object.entries(props).map(([key, value]) => {
          if (key !== 'component') {
            if (value !== 'undefined' && value !== '')
              return key + '="' + value + '" '
          }
        })
      }
      {'/>'}
    </p>
  </div>
</div>
