---
import { FulldevUIComponents } from '../schemas/components.ts'

interface Props {
  component: string
}

const { component, ...rest } = Astro.props

const Component = FulldevUIComponents[component.charAt(0).toUpperCase() + component.slice(1)]
---

<div class="component">
  {
    Component ? (
      <Component {...rest} />
    ) : null
  }
</div>
