---
import { Heading, Icon, Link, Text } from 'fulldev-ui'

interface Props {
  name: string
}

const { name } = Astro.props
---

<div class="details">
  <Heading>Props</Heading>

  <Text>
    Here are the available Props for the <b>{name}</b> component.
  </Text>

  <Link a="">
    <!-- Read the documentation <Icon name="external-link" /> -->
  </Link>
</div>
