---
import type { ComponentProps, HTMLTag, Polymorphic } from 'astro/types'
import {
  Box,
  Button,
  Group,
  Heading,
  Paragraph,
  Section,
  Tagline,
} from 'fulldev-ui'

type Props<As extends HTMLTag = 'section'> = Polymorphic<{ as: As }> &
  ComponentProps<typeof Section> & {
    tagline?: ComponentProps<typeof Tagline>['html']
    heading?: ComponentProps<typeof Heading>['html']
    paragraph?: ComponentProps<typeof Paragraph>['html']
    buttons?: ComponentProps<typeof Button>[]
    'props:tagline'?: ComponentProps<typeof Tagline>
    'props:heading'?: ComponentProps<typeof Heading>
    'props:paragraph'?: ComponentProps<typeof Paragraph>
    'props:button'?: ComponentProps<typeof Heading>
    'props:group'?: ComponentProps<typeof Group>
  }

const { tagline, heading, paragraph, buttons, ...rest } = Astro.props
---

<Section
  class:list={['cta']}
  align="center"
  size="3xl"
  structure="column"
  align="center"
  {...rest}
>
  <Box structure="column">
    <Tagline
      html={tagline}
      {...rest['props:tagline']}
    />
    <Heading
      html={heading}
      {...rest['props:heading']}
    />
    <Paragraph
      html={paragraph}
      {...rest['props:paragraph']}
    />
  </Box>
  <Group>
    {buttons?.map((button: any) => <Button {...button} />)}
  </Group>
</Section>

<style>
  .cta-section {
    background-image: url('/landing-background.png') !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
</style>
