---
import type { ComponentProps, HTMLTag, Polymorphic } from 'astro/types'
import {
  Box,
  Button,
  Group,
  Heading,
  Paragraph,
  Section,
  Tagline,
} from 'fulldev-ui'

type Props<As extends HTMLTag = 'section'> = Polymorphic<{ as: As }> &
  ComponentProps<typeof Section> & {
    tagline?: ComponentProps<typeof Tagline>['html']
    heading?: ComponentProps<typeof Heading>['html']
    paragraph?: ComponentProps<typeof Paragraph>['html']
    buttons?: ComponentProps<typeof Button>[]
    _tagline?: ComponentProps<typeof Tagline>
    _heading?: ComponentProps<typeof Heading>
    _paragraph?: ComponentProps<typeof Paragraph>
    _button?: ComponentProps<typeof Heading>
    _group?: ComponentProps<typeof Group>
  }

const {
  tagline,
  heading,
  paragraph,
  buttons,
  _tagline,
  _heading,
  _paragraph,
  _button,
  _group,
  ...rest
} = Astro.props
---

<Section
  class:list={['cta']}
  align="center"
  size="3xl"
  structure="column"
  align="center"
  {...rest}
>
  <Box structure="column">
    <Tagline
      html={tagline}
      {..._tagline}
    />
    <Heading
      html={heading}
      {..._heading}
    />
    <Paragraph
      html={paragraph}
      {..._paragraph}
    />
  </Box>
  <Group {..._group}>
    {buttons?.map((button: any) => <Button {...button} />)}
  </Group>
</Section>

<style>
  .cta-section {
    background-image: url('/landing-background.png') !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
</style>
