---
import { Head } from 'fulldev-ui'
import Sidebar from '../components/Sidebar.astro'
---

<!doctype html>
<html lang="en">
  <Head
    title="Fulldev UI Stories"
    description="Here you can try out some of our base and typography components."
  />
  <body>
    <main>
      <Sidebar />
      <slot />
    </main>
    <style is:global>
      main {
        display: flex;
      }
    </style>
  </body>
</html>
