---
import { getEntry } from 'astro:content'
import { Button, Heading, Layout, Section } from 'fulldev-ui'
import 'fulldev-ui/radix'

const { data, render } = await getEntry('pages', 'index')
const { Content } = await render()
---

<Layout
  title="Fulldev UI - Astro UI component library, open-source"
  description="A library of UI components, written in Astro, compatible with all frameworks. Unique features to build entire websites, check it out."
  image="https://ui.full.dev/og-image-fulldev-ui.png"
  body={{
    class: 'not-content',
    theme: 'dark',
  }}
>
  <Section structure="spread">
    <Heading>hello world</Heading>
    <Button>click me</Button>
    <img
      class="w-full"
      style={{ width: '100%' }}
      src="/example.jpg"
      alt=""
    />
    <div>Hell oworld</div>
  </Section>
</Layout>
