---
import { getEntry } from 'astro:content'
import { Box, Button, Heading, Image, Layout, Section } from 'fulldev-ui'
import 'fulldev-ui/radix'

const { data, render } = await getEntry('pages', 'index')
const { Content } = await render()
---

<Layout
  title="Fulldev UI - Astro UI component library, open-source"
  description="A library of UI components, written in Astro, compatible with all frameworks. Unique features to build entire websites, check it out."
  image="https://ui.full.dev/og-image-fulldev-ui.png"
  body={{
    class: 'not-content',
    theme: 'dark',
  }}
>
  <div class="mywrapper">hello there</div>
  <!-- <Section>
    <Spread>
      <Heading>hello world</Heading>
      <Button>click me</Button>
    </Spread>
    <Image src="/example.jpg" />
  </Section>

  <Section>
    <Box structure="spread">
      <Heading>hello world</Heading>
      <Button>click me</Button>
    </Box>
    <Image src="/example.jpg" />
  </Section> -->

  <Section
    structure="split"
    style={{ background: 'blue', margin: 0, maxWidth: '1400px' }}
  >
    <Box frame="wrapper">
      <Heading>hello world</Heading>
      <Image src="/example.jpg" />
    </Box>
  </Section>
</Layout>

<style lang="scss">
  .mywrapper {
    --padding: var(--space-6);
    --gutter: 4vw;
    --screen: 1536px;

    --is-child: --difference: calc(100vw - var(--screen)); // 400px
    --gutter-or-padding: min(var(--gutter), var(--padding));
    --or-screen: padding-left: max(4vw, calc(100vw - var(--screen)) / 2);
  }
</style>
